<footer>
    <nav class="navbar fixed-bottom bg-body-tertiary">
        <div class="container-fluid">
            <h6 class="display-12 navbar-text"> Copyright 2023. &copy; Laura Hernández - 301099128 / Assignment 1: Personal portfolio. All rights reserved.</h6>
        </div>
    </nav>
</footer>

<script src='/jquery/dist/jquery.min.js'></script>
<script src='/bootstrap/dist/js/bootstrap.min.js'></script>
</body>
</html>
