<!-- Including partials -->
<%- include('../partials/header.ejs') %>
<%- include('../partials/nav_bar.ejs') %>

  <br>
  <h2>Contact</h2>
  <br>


  <div class="container">

    <!-- Contact information card within container -->
    <div style="width: 500px; margin: 0 auto;" class="card">
      <h5 class="card-header">Please fill out the form below for a faster reply!</h5>
      <div class="card-body">
        <h5 class="card-title"> </h5>
        <p class="card-text"> Laura Hernandez
          <br>
          Phone: 4372607544
          <br>
          email: laura.cata.hernandez08@gmail.com
        </p>
      </div>
    </div>
<br>
<br>
<!-- Form using Bootsrap classes -->
<form action="/contact/add" method="post">
  <div class="row">
    <div class="col">
      <div class="mb-3">
        <label for="exampleFormControlInput1" class="form-label">Name</label>
        <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="" name="name">
      </div>
    </div>
    <div class="col">
      <div class="mb-3">
        <label for="exampleFormControlInput2" class="form-label">Address</label>
        <input type="text" class="form-control" id="exampleFormControlInput2" placeholder="" name="address">
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col">
      <div class="mb-3">
        <label for="exampleFormControlTextarea1" class="form-label">Message</label>
        <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" name="message"></textarea>
      </div>
    </div>

    <button type="submit" class="btn btn-secondary btn-sm">Submit</button>
  </div>
</form>


<%- include('../partials/footer.ejs') %>