<!-- Including partials -->
<%- include('../partials/header.ejs') %>
<%- include('../partials/nav_bar.ejs') %>
 
<main class="container">

  <!-- Section for mission statement -->
  <section>
    <br>
    <h2>Welcome to my personal portfolio! </h2>
    <br>
    <p>
        I am a software engineer student at Centennial College, always looking to expand my knowledge 
        and skills and never stop learning about the ever changing software landscape. I am committed 
        to work with teams whose goal is to develop reliable and scalable software systems that 
        positively impact society while improving people’s lives. Through my work, I want to inspire 
        and empower others, promote a culture of continuous improvement and push the boundaries of what
        is possible in technology.    
    </p>
  </section>

  <!-- Button that redirects user to About me section -->
  <section>
    <button onclick="window.location.href='about'">About Me</button>
  </section>

</main>


<%- include('../partials/footer.ejs') %>