<%- include('../partials/header.ejs') %>
<%- include('../partials/nav_bar.ejs') %>


<h2>Services</h2>

<div class="row">
    <div class="card text-bg-dark col-md-4">
      <img src="/images/services.png" class="card-img" alt="...">
      <div class="card-img-overlay">
        <h5 class="card-title" style="text-align: center;">General programming</h5>
        <p class="card-text"> I can ssist with coding and software development in various languages and frameworks</p>
        <p class="card-text"><small>Last updated 3 mins ago</small></p>
      </div>
    </div>
  
    <div class="card  col-md-4">
      <img src="/images/services2.png" class="card-img" alt="...">
      <div class="card-img-overlay">
        <h5 class="card-title">Web Development</h5>
        <p class="card-text">I design and develop dynamic and responsive web applications,  and tailored to meet your business requirements. 
            From front-end development to back-end integration, I focus on user-friendly interfaces and seamless functionality.
        </p>
        <p class="card-text"><small>Last updated 3 mins ago</small></p>
      </div>
    </div>

    <div class="card text-bg-dark col-md-4">
        <img src="/images/services.png" class="card-img" alt="...">
        <div class="card-img-overlay">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
          <p class="card-text"><small>Last updated 3 mins ago</small></p>
        </div>
      </div>
  </div>
  




<%- include('../partials/footer.ejs') %>